body {
  margin: 0px;
  background-color: #005eba;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.footer {
  font-family: "Quicksand";
  color: white;
  position: absolute;
  bottom: 220px;
}
